@{
    ViewData["Title"] = "Home Page";
}

<section class="text-white">
    <div class="flex-column gap-10 mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:items-center">
        <div class="mx-auto max-w-3xl text-center">
            <h1 class="text-3xl text-blue-500 font-extrabold sm:text-5xl">
                Cruzeiro Esporte Clube
            </h1>
            <p class="mx-auto mt-4 max-w-xl tracking-tight sm:text-xl/relaxed">
                Somos mais do que um clube, somos uma nação apaixonada pelo futebol. Aqui, compartilhamos vitórias,
                derrotas e momentos inesquecíveis juntos.
            </p>
        </div>
        <div>
            <img class="max-w-screen-lg h-auto"
                src="https://www.otempo.com.br/image/contentid/policy:1.3325080:1707161630/cruzeiro-toca-jpg.jpg?f=3x2&w=1224"
                alt="" />
        </div>
    </div>
    <div class="max-w-screen-xl border mx-auto grid grid-cols-1 gap-4 lg:grid-cols-3 lg:gap-8">
        <div class="h-32 rounded-lg bg-gray-200 lg:col-span-2">
            <img src="https://cruzeiro.com.br/media/fotos_noticias/04/02/2024/WhatsApp_Image_2024-02-04_at_11.22.03.jpeg"
                alt="" />
        </div>
        <div class="border">
            <div class="h-32 rounded-lg bg-gray-200"></div>
            <div class="h-32 rounded-lg bg-gray-200"></div>
        </div>
    </div>

</section>
