@{
    ViewData["Title"] = "Jogadores";
}

<div class="container mb-10">
    <header class="flex justify-center gap-4 items-center mt-4 p-8 flex-column">
        <h1 class="text-3xl font-bold">Principais Jogadores</h1>
        <p class="text-lg font-bold text-muted">Conheça os principais jogadores masculinos do Cruzeiro!</p>
    </header>
    <main>
        <div class="grid grid-cols-2 md:grid-cols-5 gap-4 mt-20">
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://cruzeiro.com.br/media/fotos_jogadores/03/03/2023/Wesley.png" alt="">
                <div class=" flex justify-center flex-column items-center mt-4">
                    <h3 class="text-xl font-semibold">Wesley</h3>
                    <p class="text-slate-500">Atacante</p>
                </div>
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://cruzeiro.com.br/media/fotos_jogadores/25/01/2024/HELIBELTON_PALACIOS_-_lateral_direito_site.png"
                    alt="">
                <div class=" flex justify-center flex-column items-center mt-4">
                    <h3 class="text-xl font-semibold">Helibelton</h3>
                    <p class="text-slate-500">Zagueiro</p>
                </div>
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://cruzeiro.com.br/media/fotos_jogadores/25/01/2024/MATHEUS_PEREIRA_-_meio-campista_site.png"
                    alt="">
                <div class=" flex justify-center flex-column items-center mt-4">
                    <h3 class="text-xl font-semibold">Matheus Pereira</h3>
                    <p class="text-slate-500">Meio-campista</p>
                </div>
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://cruzeiro.com.br/media/fotos_jogadores/25/01/2024/RAFAEL_ELIAS_-_atacante_site.png"
                    alt="">
                <div class=" flex justify-center flex-column items-center mt-4">
                    <h3 class="text-xl font-semibold">Rafael Elias</h3>
                    <p class="text-slate-500">Atacante</p>
                </div>
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://cruzeiro.com.br/media/fotos_jogadores/25/01/2024/ROBERT_-_atacante_site.png" alt="">
                <div class=" flex justify-center flex-column items-center mt-4">
                    <h3 class="text-xl font-semibold">Robert</h3>
                    <p class="text-slate-500">Atacante</p>
                </div>
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://cruzeiro.com.br/media/fotos_jogadores/03/03/2023/Kaiki.png" alt="">
                <div class=" flex justify-center flex-column items-center mt-4">
                    <h3 class="text-xl font-semibold">Kaiki</h3>
                    <p class="text-slate-500">Zagueiro</p>
                </div>
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://cruzeiro.com.br/media/fotos_jogadores/25/01/2024/FERNANDO_HENRIQUE_-_meio-campista_site.png"
                    alt="">
                <div class=" flex justify-center flex-column items-center mt-4">
                    <h3 class="text-xl font-semibold">Fernando Henrique</h3>
                    <p class="text-slate-500">Meio-campista</p>
                </div>
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://cruzeiro.com.br/media/fotos_jogadores/25/01/2024/ANDERSON_-_goleiro_site.png" alt="">
                <div class=" flex justify-center flex-column items-center mt-4">
                    <h3 class="text-xl font-semibold">Anderson</h3>
                    <p class="text-slate-500">Goleiro</p>
                </div>
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://cruzeiro.com.br/media/fotos_jogadores/25/01/2024/FILIPE_MACHADO_-_meio-campista_site.png"
                    alt="">
                <div class=" flex justify-center flex-column items-center mt-4">
                    <h3 class="text-xl font-semibold">Felipe Machado</h3>
                    <p class="text-slate-500">Meio-campista</p>
                </div>
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://cruzeiro.com.br/media/fotos_jogadores/25/01/2024/JAPA_-_meio-campista_site.png" alt="">
                <div class=" flex justify-center flex-column items-center mt-4">
                    <h3 class="text-xl font-semibold">Japa</h3>
                    <p class="text-slate-500">Meio-campista</p>
                </div>
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://cruzeiro.com.br/media/fotos_jogadores/25/01/2024/ARTHUR_GOMES_-_atacante_site.png"
                    alt="">
                <div class=" flex justify-center flex-column items-center mt-4">
                    <h3 class="text-xl font-semibold">Arthur Campista</h3>
                    <p class="text-slate-500">Atacante</p>
                </div>
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg"
                    src="https://cruzeiro.com.br/media/fotos_jogadores/25/01/2024/JUAN_DINENNO_-_atacante_site.png"
                    alt="">
                <div class=" flex justify-center flex-column items-center mt-4">
                    <h3 class="text-xl font-semibold">Juan Dinenno</h3>
                    <p class="text-slate-500">Atacante</p>
                </div>
            </div>
        </div>
    </main>
</div>
<script src="https://cdn.tailwindcss.com"></script>