@{ ViewData["Title"] = "Notícias"; }

<section class="max-w-screen-lg mx-auto mt-20">
  <div class="flex justify-center gap-2 mb-10 flex-column items-center">
    <h1 class="text-4xl font-bold tracking-wide">Notícias</h1>
    <p class="text-slate-600 tracking-tight	">Notícias mais recentes</p>
  </div> 
  <div
    class="grid gap-4 grid-rows-2 grid-cols-2"
  >
    <div class="row-span-2 border-1 border-slate-700 rounded-xl relative">
      <img
        class="h-full w-full object-cover rounded-xl hover:opacity-75"
        src="https://cruzeiro.com.br/media/fotos_noticias/04/02/2024/WhatsApp_Image_2024-02-04_at_11.22.03.jpeg"
        alt=""
      />
      <h1 class="absolute bottom-0 bg-blue-600 w-full text-center">PACOTE PARA O MINEIRÃO! ADQUIRA INGRESSOS PARA AS PRÓXIMAS PARTIDAS CONTRA PATROCINENSE E AMÉRICA!</h1>
    </div>
    <div class="">
      <img
        class=""
        src="https://cruzeiro.com.br/media/fotos_noticias/04/02/2024/WhatsApp_Image_2024-02-04_at_02.23.31.jpeg"
        alt=""
      />
    </div>
    <div class="">
      <img
        class=""
        src="https://cruzeiro.com.br/media/fotos_noticias/03/02/2024/WhatsApp_Image_2024-02-03_at_09.45.12.jpeg"
        alt=""
      />
    </div>
  </div>
</section>
