@{
    ViewData["Title"] = "Notícias";
}

<div class="max-w-screen-lg border mx-auto grid gap-4 grid-rows-2 grid-cols-2">
    <div class="row-span-2 border relative">
        <h1 class="absolute bottom-0">oi</h1>
        <img class="h-full w-full object-cover"
            src="https://cruzeiro.com.br/media/fotos_noticias/04/02/2024/WhatsApp_Image_2024-02-04_at_11.22.03.jpeg"
            alt="" />
    </div>
    <div class="">
        <img class=""
            src="https://cruzeiro.com.br/media/fotos_noticias/04/02/2024/WhatsApp_Image_2024-02-04_at_02.23.31.jpeg"
            alt="">
    </div>
    <div class="">
        <img class=""
            src="https://cruzeiro.com.br/media/fotos_noticias/03/02/2024/WhatsApp_Image_2024-02-03_at_09.45.12.jpeg"
            alt="">
    </div>

</div>