@{
    ViewData["Title"] = "Sobre";
}



<section>
    <h1 class="text-center mt-16 text-3xl font-bold text-uppercase">Sobre o Cruzeiro Esporte Club</h1>
    <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16 mb-[10rem]">
            <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-last lg:h-full">
                <img alt="Party"
                     src="https://www.otempo.com.br/image/contentid/policy:1.3324394:1707080553/cruzeiro-arena-mrv-jpg.jpg?f=3x2&w=1224"
                     class="absolute inset-0 h-full w-full object-cover" />
            </div>

            <div class="lg:py-24">
                <h2 class="text-3xl font-bold sm:text-4xl">Como começou?</h2>

                <p class="mt-4 text-gray-600">
                    O Cruzeiro Esporte Clube foi fundado em 1921, em Belo Horizonte, Minas Gerais, a partir da fusão dos clubes Palestra Itália e Societá Sportiva Palestra Itália. As cores azul e branca foram adotadas, e o nome "Cruzeiro" faz referência à constelação do Cruzeiro do Sul. O clube se destacou no futebol brasileiro ao longo das décadas, conquistando títulos nacionais, como o Campeonato Brasileiro, e participando ativamente de competições internacionais, como a Copa Libertadores. Com uma base de torcedores fervorosos, os cruzeirenses, o Cruzeiro se tornou uma instituição respeitada e reconhecida no cenário esportivo brasileiro.
                </p>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-8 lg:grid-cols-2 lg:gap-16 ">
            <div class="relative h-64 overflow-hidden rounded-lg sm:h-80 lg:order-first lg:h-full">
                <img alt="Party"
                     src="https://noataque.com.br/wp-content/uploads/2023/07/BANDEIRA-CRUZEIRO-3.jpg"
                     class="absolute inset-0 h-full w-full object-cover" />
            </div>

            <div class="lg:py-24">
                <h2 class="text-3xl font-bold sm:text-4xl">Por quê Cruzeiro?</h2>

                <p class="mt-4 text-gray-600">
                    O clube foi fundado em 2 de Janeiro de 1921 a partir da comunidade italiana em Belo Horizonte, Minas Gerais, como Società Sportiva Palestra Italia. Seu escudo era verde e vermelho com detalhes em dourado, homenageando a Itália. Seu uniforme principal era na cor verde.
                    <br />
                    <br />
                    Em 1942, com a entrada do Brasil na 2ª Guerra Mundial, um decreto do governo federal proibiu o uso de termos e símbolos que remetessem aos países do Eixo. Desta forma, em 7 de Outubro de 1942, sob muita discussão dos conselheiros e diretores, foi decidido que o clube passaria a se chamar Cruzeiro Esporte Clube, adotando como símbolo a constelação do Cruzeiro do Sul.
                </p>
            </div>
        </div>
    </div>
</section>
